@keyframes animationOpacityToMax {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@mixin showAnimation($time: 1) {
  animation-delay: 0s;
  animation-duration: $time + s;
  animation-name: animationOpacityToMax;
  animation-timing-function: ease-in-out;
}

.text {
  &-red {
    color: $red;
  }
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.body {
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}

.header {
  .navbar {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }

  &_banner {
    position: relative;
    height: 31rem;
    overflow: hidden;
    &__video {
      z-index: 1;
      height: 600px;
      width: 1920px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(196,174,159);
      @include showAnimation(6);
    }

    &__content {
      z-index: 2;
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      .img {
        max-width: 280px;
        @include showAnimation(2);
      }

      .title {
        font-size: 2.25rem;
        font-weight: bold;
        line-height: 2.5rem;
        color: rgba(4,49,72,1);
        text-transform: uppercase;
        text-align: center;
        @include showAnimation(3);
      }

      .subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
        transition-delay: 2s;
        color: rgba(4,49,72,1);
        text-align: center;
        @include showAnimation(5);
      }
    }
  }
}

.main {
  .saveWithUs {
    line-height: 1.75rem;
    font-size: 1.125rem;
    .title {
      font-size: 2.7rem;
      font-family: serif;
    }
  }

  .services {
    &_grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media screen and (max-width: 1300px){
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
      }
    }

    .card {
      color: $white;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0;
      &.c {
        &-light {
          background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(183, 194, 203) 100%);
          color: $black;
        }
        &-red {
          background: radial-gradient(circle, rgb(172, 77, 65) 0%, rgb(116, 24, 15) 80%, rgb(116, 24, 15) 100%);
        }
        &-blue {
          background: radial-gradient(circle, rgb(34, 82, 108) 0%, rgb(1, 10, 14) 100%);
        }
        &-grey {
          background: radial-gradient(circle, rgb(180, 189, 195) 0%, rgb(111, 114, 116) 80%, rgb(111, 114, 116) 100%);
        }
      }

      &-text {
        font-size: 1rem;
        line-height: 1.5rem;
        &.text-uppercase {
          font-size: .75rem;
          line-height: 1rem;
        }
      }

      &-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
      }
    }
  }

  .fleet {
    tfoot {
      background-color: #043148;
    }
  }

  .csr {
    &_top {
      display: flex;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      color: $white;
      height: 300px;
      position: relative;
      overflow: hidden;
      &__bg {
        z-index: 1;
        width: calc(100% + 100px);
        height: 150%;
        position: absolute;
        top: -50%;
        left: -100px;
        display: flex;
        &-color {
          background: radial-gradient(circle, #306b89 0%, #043148);
          width: 40%;
          height: 300%;
          transform: rotate(15deg);
          transform-origin: center;
          margin-left: -100px;
        }

        &-img {
          width: 100%;
          height: 100%;
          background-image: url("../img/csr.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center right;
        }
      }

      &__left {
        z-index: 2;
        max-width: 200px;
        padding-left: 20px;
      }
    }
  }

  .video {
    margin-bottom: -250px;
    background-image: url(../img/measurement-pattern.svg);
    background-position: 0 calc(100% - 250px);
    background-size: auto;
    background-repeat: repeat-x;
    &_whiteTop {
      min-height: 400px;
      background-color: #fff;
    }

    &_wrap {
      position: relative;
      &__placeholder {
        z-index: 0;
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        background-image: url("../img/100-years-of-shippingtmb.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: $white;
        p {
          line-height: 1.75rem;
          font-size: 1.125rem;
        }
        h4 {
          font-size: 2.25rem;
          line-height: 2.5rem;
        }
      }

      iframe {
        z-index: 3;
        transition: .5s ease-in-out opacity;
        border: 8px solid $white;
        box-shadow: 0 0 1px 1px rgba(0,0,0,.6);
        width: 100%;
        min-height: 500px;
        background-color: rgb(196,174,159);
        &.active {
          opacity: 1;
          position: relative;
        }
      }
    }
  }

  .figures {
    padding-top: 250px;
    min-height: 500px;
    background: radial-gradient(circle, rgb(48, 107, 137) 0%, rgb(4, 49, 72));
    color: $white;
    &_item {
      transform: skew(-20deg);
      background-color: rgba(13, 34, 48, 0.6);
      border-color: rgb(62, 128, 162);
      padding: 20px 40px;
      margin: 0 15px;
      &__wrap {
        transform: skew(20deg);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        max-height: 32px;
        height: 100%;
      }

      p {
        display: flex;
        align-items: center;
        .bold {
          font-size: 2.25rem;
          line-height: 2.5rem;
          font-weight: 700;
          margin-right: .5rem;
        }

        span:not(.bold) {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          word-break: break-word;
          max-width: 120px;
          text-transform: uppercase;
        }
      }
    }
  }

  .ownership {
    background-image: url("../img/finder-feature-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_peoples {
      max-width: 100vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      height: 270px;
      width: auto;
      img {
        &:first-child {
          z-index: 1;
          margin-right: -20px;
        }
        &:nth-child(2) {
          z-index: 2;
          margin-right: -20px;
          margin-left: -20px;
        }
        &:nth-child(3) {
          z-index: 3;
          margin-right: -20px;
          margin-left: -20px;
        }
        &:nth-child(4) {
          z-index: 2;
          margin-left: -30px;
        }
        &:last-child {
          z-index: 1;
          margin-left: -30px;
        }
      }
    }
  }

  .paralax {
    width: 100%;
    height: 300px;
    background-image: url("../img/csr/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    h4 {
      font-size: 4rem;
      text-shadow: 0 0 5px rgba($black, .8);
    }
  }

  .soc {
    background-color: #043148;
  }

  .contacts {
    background: #043148 url("../img/world-bg.png") 50% no-repeat;
    background-image: url("../img/noise2.png"),url("../img/world-bg.png");
    background-repeat: repeat,no-repeat;
    background-size: auto,cover;
    &_data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      color: $white;
      font-size: 1.2rem;
      a {
        color: rgba($white, .6);
      }
    }
  }
}

.footer {
  background-color: #043148;
  color: $white;
  &_whiteBg {
    background-color: rgba(255,255,255,.1);
  }
}

.tw-flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.wrap[data-v-4d9afe92]{background-color:#c3ddeb;padding-bottom:40px}@media (min-width:768px){.wrap[data-v-4d9afe92]{padding-bottom:30px}}.wrap .legend[data-v-4d9afe92]{font-size:14px;font-weight:700;color:#000;padding:20px 0 0 20px}.wrap .legend .blue[data-v-4d9afe92],.wrap .legend .red[data-v-4d9afe92]{width:15px;height:15px;margin-right:5px}.wrap .legend .red[data-v-4d9afe92]{background-color:#8d2017;margin-left:20px}.wrap .legend .blue[data-v-4d9afe92]{background-color:#043148}.wrap .graph-wrap[data-v-4d9afe92]{height:350px;width:100%;position:relative}.wrap .graph-wrap .line[data-v-4d9afe92]{position:absolute;z-index:1;left:0;width:100%;height:1px;border-bottom:1px solid #a7c5d6}.wrap .graph-wrap .line span[data-v-4d9afe92]{position:absolute;display:block;left:10px;top:-8px;font-size:12px;background-color:#c3ddeb;padding:0 10px;color:#7390a1}.wrap .graph-wrap .line:first-child span[data-v-4d9afe92]{display:none}.wrap .graph-wrap .graph[data-v-4d9afe92]{position:absolute;z-index:2;top:0;left:40px;bottom:0;right:0}.wrap .graph-wrap .graph .year[data-v-4d9afe92]{position:relative;font-size:10px;color:#fff}.wrap .graph-wrap .graph .year .blue[data-v-4d9afe92],.wrap .graph-wrap .graph .year .red[data-v-4d9afe92]{width:20px;text-align:center;line-height:1}@media (min-width:768px){.wrap .graph-wrap .graph .year .blue[data-v-4d9afe92],.wrap .graph-wrap .graph .year .red[data-v-4d9afe92]{width:40px}}.wrap .graph-wrap .graph .year .red[data-v-4d9afe92]{background-color:#8d2017}.wrap .graph-wrap .graph .year .blue[data-v-4d9afe92]{background-color:#043148}.wrap .graph-wrap .graph .year .total[data-v-4d9afe92]{text-align:center;margin-bottom:5px;color:#043148;font-weight:700}.wrap .graph-wrap .graph .year .key[data-v-4d9afe92]{position:absolute;color:#043148;width:100%;text-align:center;font-weight:700;bottom:-20px;font-size:10px;transform:rotate(90deg)}@media (min-width:768px){.wrap .graph-wrap .graph .year .key[data-v-4d9afe92]{bottom:-16px;font-size:12px;transform:none}}

table[data-v-7fdbdb66]{font-size:10px;background-color:#c3ddeb}@media (min-width:768px){table[data-v-7fdbdb66]{font-size:16px}}table tbody td[data-v-7fdbdb66],table tfoot td[data-v-7fdbdb66],table thead td[data-v-7fdbdb66]{text-align:right;padding:.5rem}@media (min-width:768px){table tbody td[data-v-7fdbdb66],table tfoot td[data-v-7fdbdb66],table thead td[data-v-7fdbdb66]{padding:1rem}}table tbody td.left[data-v-7fdbdb66],table tfoot td.left[data-v-7fdbdb66],table thead td.left[data-v-7fdbdb66]{text-align:left}table thead td[data-v-7fdbdb66]{color:#043148}table tbody tr[data-v-7fdbdb66],table thead td[data-v-7fdbdb66]{background-color:#c3ddeb;border-bottom:1px solid #a7c5d6}table tbody tr[data-v-7fdbdb66]:nth-child(odd){background-color:#cfe4ef}table tfoot td[data-v-7fdbdb66]{color:#fff}
